@font-face {
  font-family: "Pricedown";
  font-style: normal;
  font-weight: normal;
  src: url("pricedown.woff") format("woff");
}
body {
  font-family: "Pricedown";
}

#phone {
  font-family: Arial;
  font-size: 2.8vh;
  background-image: url("phone.png");
  background-size: contain;
  background-color: "blue";
  width: calc(50vh * 615 / 1001);
  image-rendering: pixelated;
  height: 50vh;
  position: absolute;
  padding: 6vh 5vh 6vh 4vh;
  box-sizing: border-box;
  pointer-events: initial !important;
  bottom: -10vh;
  left: 2vw;
  transition: transform 0.4s;
}

.phone_down {
  transform: translateY(50vh);
}

#money {
  position: absolute;
  top: 2.5vh;
  left: 3vw;
  color: #199e02;
  font-size: 5vh;
  text-shadow:
    0.3vh 0.3vh 0.2vh #000,
    -0.3vh 0.3vh 0.2vh #000,
    -0.3vh -0.3vh 0 #000,
    0.3vh -0.3vh 0 #000;
}

#app {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

input {
  pointer-events: initial !important;
  width: 100%;
}
button {
  pointer-events: initial !important;
}
